.about {
    background-color: #fff;
}
.site-container {
    position: relative;
    overflow: auto;
}

.about-us {
    text-align: center;
    letter-spacing: .04rem;
    margin: 26px auto 30px;
} 
.page-content{
    width: 20rem;
    display: block;
}

.about-us__content {
    width: 280px;
    margin: 0 auto 50px;
}
.about-us__header-title{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.95rem;
    line-height: 1.05em;
   
    margin-bottom: 20px;
    color: black;
    
}

.about-us__header-title span {
    font-weight: 100;
    text-align: center;
    justify-content: center;
}
.about-us__header-body {
    font-weight: 300;
    font-size: .85rem;
    line-height: 1.25rem;
    letter-spacing: .08rem;
    color: #000;
    margin: auto;
    margin-bottom: 22px;
    width: 380px;
    justify-content: center;
    /* text-align: left; */
}

.about-us__subheader-title {
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1em;
    letter-spacing: .08rem;
    margin: auto;
    margin-bottom: 8px;
}
.about-us__subheader-title span {
    font-weight: 100;
}

.about-us__subheader-body {
    font-weight: 300;
    font-size: .5625rem;
    line-height: .75rem;
    letter-spacing: .08rem;
    color: #666;
    width: 350px;
}
.about-us__footer {
    display: flex;
    text-align: center;
    justify-content: center;
    
}
